@page "/CreateProfile"
@page "/CreateProfile/{id:int}"
@using DatingApp.Models
@using DatingApp.Pages
@using DatingApp.Repository
@inject NavigationManager NM
@inject UserProfile UserProfile
@inject UserRepository repo

<h3>CreateProfile</h3>

<EditForm Model="@UserProfile" OnValidSubmit="SaveProfile">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="from-group">
        <label for="Username">account user id:</label>
        <label> @UserProfile.UserId</label>
    </div>
    <div class="from-group">
        <label for="Username">User name:</label>
        <InputText @bind-Value="UserProfile.Username" class="from-control" placeholder="User name"></InputText>
    </div>
    <div class="from-group">
        <label for="Firstname">Firstname:</label>
        <InputText @bind-Value="UserProfile.Firstname" class="form-control" placeholder="Firstname"></InputText>
    </div>
    <div class="from-group">
        <label for="Middlename">Middlename:</label>
        <InputText @bind-Value="UserProfile.Middlename" class="form-control" placeholder="Middlename"></InputText>
    </div>
    <div class="from-group">
        <label for="Lastname">Lastname:</label>
        <InputText @bind-Value="UserProfile.Lastname" class="form-control" placeholder="Lastname"></InputText>
    </div>
    <div class="from-group">
        <label for="Brithdate">Brithdate:</label>
        <InputDate @bind-Value="UserProfile.Brithdate" class="form-control" placeholder="Date of Birth"></InputDate>
    </div>

    <div class="from-group">
        <label for="Height">Height:</label>
        <InputText @bind-Value="UserProfile.Height" class="form-control" placeholder="Height"></InputText>
    </div>

    <div class="form-group">
        <label for="Aboutme">About me:</label>
        <InputText @bind-Value="UserProfile.Aboutme" class="form-control" placeholder="who are you"></InputText>
    </div>
    <div>
        <label for="Gender" class="form-group" >Gender</label>
        <select @bind="UserProfile.Genderid" class="form-control">
            @foreach(var gender in repo.GetGenders())
            {
                <option value="@gender.GenderId">@gender.gender</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="City">City</label>
        <select @bind="UserProfile.Cityid" class="form-control">
            @foreach(var city in repo.GetCities())
            {
                <option value="@city.Cityid">@city.city</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Profile</button>
    @if(UserProfile.Id > 0)
    {
        <button class="btn btn-success" @onclick="UpdateProfile">Update Profile</button>
    }


</EditForm>

@code {
    [Parameter]
    public int Id{ get; set; }
    private string errorMessage = "";
    private List<City> Cities;
    private List<Gender> Genders;
    private void SaveProfile()
    {
        repo.SaveUserProfile(UserProfile);
        NM.NavigateTo("/Profile");
    }
    private void UpdateProfile()
    {
        repo.UpdateUserProfile(UserProfile);
        NM.NavigateTo("/Profile");
    }
    protected override void OnInitialized()
    {
        Genders = repo.GetGenders();
        Cities = repo.GetCities();
        UserProfile.UserId = Id;
    }
}
