@page "/Userlist"
@using DatingApp.Repository
@using DatingApp.Service
@using DatingApp.Models
@inject User user
@inject UserRepository repo
@inject AuthenticationService authService
@inject NavigationManager NM

<button @onclick=ToProfile>Profile page</button>
<h3>User list</h3>
@if(users != null && users.Any())
{
    <div>
        @foreach (var user in users.Where(u => u.UserId != authService.LoggedInUser?.UserId))
        {
            <div>
                <h4>@user.Username: </h4>
                <p><strong>Fullname: </strong>@user.Fullname</p>
                <p><strong>Birthdate: </strong>@user.Brithdate.ToShortDateString()</p>
                <p><strong>Height: </strong>@user.Height</p>
                <p><strong>City: </strong>@repo.GetcityName(user.Cityid)</p>
                <p><strong>Gender: </strong>@repo.GetGenderName(user.Genderid)</p>
                <button @onclick="()=>ToogleLike(user.UserId)">Like</button>
            </div>
        }
    </div>
}
else
{
    <p>no users available</p>
}

@code {
    private List<int> DisplayedUserIds;
    private List<UserProfile> users;
    protected override void OnInitialized()
    {
        users = repo.GetAllUserProfiles();
        DisplayedUserIds = new List<int>();

    }
    private void ToogleLike(int Likee)// this methode need be reritten probaly
    {
        if (authService.LoggedInUser != null)
        {
            int liker = authService.LoggedInUser.UserId;//this need to chance using account userid. need to use Userprofile.UserId from my Userprofile table
            bool isLiked = repo.IsLiked(liker, Likee);
            if (isLiked)
            {
                repo.RemovieLike(liker, Likee);
            }
            else
            {
                repo.AddLike(liker,Likee,1);
            }
            users = repo.GetAllUserProfiles().Where(u => u.UserId != authService.LoggedInUser.UserId && !DisplayedUserIds.Contains(u.UserId)).ToList();
            StateHasChanged();
        }
    }
    private void ToProfile()
    {
        NM.NavigateTo("/Profile");
    }
}
